*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}

/* header */

header{
    margin-top: 17px;
    display: flex;
    align-items: center;
}
nav{
    width: 1017px;
    justify-content: center;
    display: flex;
}
.header-ul{
    font-weight: 600;
    font-size: 16px;
    list-style: none;
    display: flex;
    gap: 16px;
}
span{
    margin-right: 10px;
    font-weight: 600;
    font-size: 16px;    
}
.header-button{
    border: none;
    color: white;
    border-radius: 8px;
    background-color: #583101;
    width: 74px;
    height: 40px;
    cursor: pointer;
}

/* main */

main{
    margin-top: 100px;
    display: grid;
    grid-gap: 24px;
    grid-template-columns: repeat(3, 416px);
    grid-template-rows: repeat(2, 416px);
}
.grid{
    border-radius: 24px;
    background-color: #F3D5B5;
    color: #432818;
    font-weight: 700;
    font-size: 48px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.item-2{
    grid-column: 2/4;
    background-image: url(./Rectangle\ 4\ \(1\).png);
}
.item-3{
    grid-column: 1/3;
    background-image: url(./Rectangle\ 5.png);
}

/* section */

section{
    padding-top: 88px;
    padding-left: 120px;
    background-color: #FFF4E8;
    height: 892px;
}
.section-text-flex-div{
    align-items: center;
    display: flex;
    gap: 300px;
}
.section-h1{
    font-weight: 500;
    font-size: 48px;
    color: #251805;
}
.section-p{
    color: #593D3D;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
}
.section-img{
    padding-top: 64px;
}

/* container-2 */

.container-2{
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}

/* .sectiion-2 */

.section-2-text-flex-div{
    align-items: center;
    gap: 400px;
    padding-top: 88px;
    display: flex;
}
.section-2-h1{
    font-weight: 500;
    font-size: 48px;
    color: #251805;
}
.section-2-p{
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #593D3D;
}
.img-flex{
    padding-top: 64px;
    display: flex;
    gap: 30px;
}
.cards{
    padding-top: 64px;
    display: flex;
    gap: 24px;
}
.card-item-p{
    padding-top: 15px;
    font-weight: 400;
    font-size: 14px;
    color: #583101;
}
.card-item-h1{
    font-weight: 500;
    font-size: 32px;
    color: #251805;
}
.card-item-p-2{
    padding-top: 30px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #251805CC;
}   
.card-item-button{
    margin-top: 16px;
    width: 103px;
    height: 36px;
    border: 1px solid #583101;
    color: #583101;
    background-color: white;
    cursor: pointer;
}

/* footer */

footer{
    display: flex;
    gap: 30px;
    margin-top: 100px;
    height: 365px;
    padding-top: 88px;
    padding-left: 115px;
    background-color: #432818;
}
.footer-p{
    padding-top: 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #F3D5B5;
}
.footer-h1{
    font-weight: 700;
    font-size: 24px;
    color: #F3D5B5;
}
.footer-p-2{
    padding-top: 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #F3D5B5;
}
.footer-h1-2{
    font-weight: 700;
    font-size: 24px;
    color: #F3D5B5;
}
.icon-div{
    padding-top: 32px;
    font-size: 32px;
}
.footer-div-3{
    padding-left: 50px;
}
.footer-ul{
    padding-left: 100px;
    color: #F3D5B5;
    list-style: none;
}
.footer-li-1{
    font-weight: 700;
    font-size: 24px;
    padding-bottom: 24px;
}
.footer-li{
    padding-top: 8px;   
}